services:
  nexus_services:
    image: sonatype/nexus3:latest
    container_name: nexus_services
    restart: always
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms2703m -Xmx2703m -XX:MaxDirectMemorySize=2703m -Djava.util.prefs.userRoot=/nexus-data/javaprefs -Dnexus.security.randomPassword=false
    env_file:
      - .env
    volumes:
      - nexus_volumen:/nexus-data
    networks:
      - shared_network

  nexus_backup:
    build:
      context: .
      dockerfile: Dockerfile.backup
      network: host # Fix for VPN/Network issues during build
    container_name: nexus_backup
    restart: always
    env_file:
      - .env
    volumes:
      - nexus_volumen:/nexus-data
      - nexus_backups:/nexus-data/backups
    networks:
      - shared_network

volumes:
  nexus_volumen:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/nexus_volumen
  nexus_backups:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/edugonmor/repos/rclone/docker/volumes/rclone_local_backup_volumen/nexus

networks:
  shared_network:
    external: true
    name: shared_network
