version: '3.8'

services:
  {{cookiecutter.project_slug}}_gitlab_services:
    image: gitlab/gitlab-ce:${GITLAB_VERSION}
    container_name: {{cookiecutter.project_slug}}_gitlab_services
    restart: always
    hostname: ${GITLAB_HOSTNAME}
    env_file:
      - .env
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://${GITLAB_HOSTNAME}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        gitlab_rails['initial_root_password'] = '${GITLAB_ROOT_PASSWORD}'
        # Add other config here
    ports:
      - "${GITLAB_HTTP_PORT}:80"
      - "${GITLAB_HTTPS_PORT}:443"
      - "${GITLAB_SSH_PORT}:22"
    volumes:
      - {{cookiecutter.project_slug}}_config:/etc/gitlab
      - {{cookiecutter.project_slug}}_logs:/var/log/gitlab
      - {{cookiecutter.project_slug}}_data:/var/opt/gitlab
    networks:
      - {{cookiecutter._network_name}}
    shm_size: '256m'

  {{cookiecutter.project_slug}}_backup:
    image: alpine:latest
    container_name: {{cookiecutter.project_slug}}_backup
    restart: always
    command: crond -f
    env_file:
      - .env
    environment:
      - CRON_SCHEDULE=${BACKUP_CRON_SCHEDULE}
    volumes:
      - {{cookiecutter.project_slug}}_backups:/backups
      # Mount volumes to back up
      - {{cookiecutter.project_slug}}_config:/etc/gitlab:ro
      - {{cookiecutter.project_slug}}_data:/var/opt/gitlab:ro
    networks:
      - {{cookiecutter._network_name}}

networks:
  {{cookiecutter._network_name}}:
    external: true
    name: {{cookiecutter._network_name}}

volumes:
  {{cookiecutter.project_slug}}_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/config
  {{cookiecutter.project_slug}}_logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/logs
  {{cookiecutter.project_slug}}_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/data
  {{cookiecutter.project_slug}}_backups:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{cookiecutter._host_backup_path}}
