

services:
  {{cookiecutter.project_slug}}_gitlab_services:
    image: gitlab/gitlab-ce:${GITLAB_VERSION}
    container_name: {{cookiecutter.project_slug}}_gitlab_services
    restart: always
    hostname: ${GITLAB_HOSTNAME}
    env_file:
      - .env
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'http://${GITLAB_HOSTNAME}'
        gitlab_rails['gitlab_shell_ssh_port'] = ${GITLAB_SSH_PORT}
        gitlab_rails['initial_root_password'] = '${GITLAB_ROOT_PASSWORD}'
        gitlab_rails['backup_keep_time'] = ${BACKUP_RETENTION_SECONDS}
        # Add other config here
    ports:
      - "${GITLAB_HTTP_PORT}:80"
      - "${GITLAB_HTTPS_PORT}:443"
      - "${GITLAB_SSH_PORT}:22"
    volumes:
      - {{cookiecutter.project_slug}}_config:/etc/gitlab
      - {{cookiecutter.project_slug}}_logs:/var/log/gitlab
      - {{cookiecutter.project_slug}}_data:/var/opt/gitlab
      # Map backup directory directly to host path for persistence
      - {{cookiecutter.project_slug}}_backups:/var/opt/gitlab/backups
    networks:
      - {{cookiecutter._network_name}}
    shm_size: '256m'

  {{cookiecutter.project_slug}}_backup:
    # Install crond (busybox) if needed, but docker image might not have it.
    # Alpine is better base, installing docker-cli.
    # Using alpine with docker-cli installation
    image: alpine:latest
    command: >
      sh -c "apk add --no-cache docker-cli && echo '{{cookiecutter._cron_schedule}} docker exec {{cookiecutter.project_slug}}_gitlab_services gitlab-backup create CRON=1' | crontab - && crond -f"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - {{cookiecutter._network_name}}
    depends_on:
      - {{cookiecutter.project_slug}}_gitlab_services

networks:
  {{cookiecutter._network_name}}:
    external: true
    name: {{cookiecutter._network_name}}

volumes:
  {{cookiecutter.project_slug}}_config:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/config
  {{cookiecutter.project_slug}}_logs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/logs
  {{cookiecutter.project_slug}}_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/data
  {{cookiecutter.project_slug}}_backups:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: {{cookiecutter._host_backup_path}}
