version: '3.8'

services:
  cookiecutter_services:
    image: cookiecutter_services:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cookiecutter_services
    env_file:
      - .env
    environment:
      - TEMPLATE=${TEMPLATE:-mysql}
      - CONFIG_FILE=${CONFIG_FILE:-/config/example.json}
    volumes:
      - ../template_mysql:/templates/mysql:ro
      - ../template_mariadb:/templates/mariadb:ro
      - ../generator:/output
      - ./docker/volumes/config:/config:ro
    networks:
      - shared_network

networks:
  shared_network:
    external: true
    name: shared_network
