version: 3.8

services:
  rabbitmq_services:
    image: rabbitmq_services:latest
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: rabbitmq_services
    restart: always
    env_file:
      - .env
    networks:
      - shared_network

networks:
  shared_network:
    external: true
    name: shared_network
