version: '3.8'

services:
  nginx_service:
    image: nginx:alpine
    container_name: nginx_service
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
      - nginx_conf_d:/etc/nginx/conf.d
      - nginx_html:/usr/share/nginx/html:ro
      - nginx_certs:/etc/letsencrypt
      - nginx_webroot:/var/www/certbot
    networks:
      - shared_network
    env_file:
      - .env

  nginx_certbot:
    image: certbot/certbot
    container_name: nginx_certbot
    volumes:
      - nginx_certs:/etc/letsencrypt
      - nginx_webroot:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - shared_network
    env_file:
      - .env

  nginx_ovh_updater:
    image: ovh_updater:latest
    container_name: nginx_ovh_updater
    restart: always
    env_file:
      - .env
    networks:
      - shared_network

networks:
  shared_network:
    external: true
    name: shared_network

volumes:
  nginx_conf_d:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./config/conf.d
  nginx_html:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./src/html
  nginx_certs:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/certs
  nginx_webroot:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/webroot
