services:
  edugonmor_nexus_services:
    image: sonatype/nexus3:latest
    container_name: edugonmor_nexus_services
    restart: always
    environment:
      - INSTALL4J_ADD_VM_PARAMS=-Xms2703m -Xmx2703m -XX:MaxDirectMemorySize=2703m -Djava.util.prefs.userRoot=/nexus-data/javaprefs -Dnexus.security.randomPassword=false
    env_file:
      - .env
    volumes:
      - edugonmor_nexus_volumen:/nexus-data
    networks:
      - edugonmor_nexus_network

  edugonmor_nexus_backup:
    build:
      context: .
      dockerfile: Dockerfile.backup
      network: host # Fix for VPN/Network issues during build
    container_name: edugonmor_nexus_backup
    restart: always
    env_file:
      - .env
    volumes:
      - edugonmor_nexus_volumen:/nexus-data
      - edugonmor_nexus_backups:/nexus-data/backups
    networks:
      - edugonmor_nexus_network

volumes:
  edugonmor_nexus_volumen:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./docker/volumes/edugonmor_nexus_volumen
  edugonmor_nexus_backups:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/edugonmor/repos/edugonmor_rclone/docker/volumes/rclone_local_backup_volumen/nexus

networks:
  edugonmor_nexus_network:
    external: true
